button {
  width: 148px;
  height: 49px;

  background: rgba(196, 196, 196, 0.6);
  border-radius: 30px;
  border: none;
  background: hsl(0, 0%, 95%);
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 16px;
}

#button-orange {
  color: hsl(31, 77%, 52%);
}

#button-orange:hover {
  background: #b56a1e;
  cursor: pointer;
  color: #fff;
}

#button-dark {
  color: hsl(184, 100%, 22%);
}

#button-dark:hover {
  background: #1c464a;
  cursor: pointer;
  color: #fff;
}

#button-very-dark {
  color: hsl(179, 100%, 13%);
}
#button-very-dark:hover {
  background: hsl(184, 100%, 22%);
  cursor: pointer;
  color: #fff;
}
