.classCar {
  padding: 5rem;
  color: hsl(0, 0%, 95%);
}

#orange {
  background: hsl(31, 77%, 52%);
  border-radius: 1rem 0 0 1rem;
}

#dark {
  background: hsl(184, 100%, 22%);
}

#very-dark {
  background: hsl(179, 100%, 13%);
  border-radius: 0 1rem 1rem 0;
}

.classCar h1 {
  font-size: 4rem;
  margin: 2.9rem 0;
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  font-weight: 700;
}

.classCar p {
  font-size: 1.5rem;
  font-family: "Lexend Deca";
  font-weight: 400;
  margin-bottom: 8.2rem;
  line-height: 2.4rem;
}

@media (max-width: 928px) {
  .classCar {
    height: 44.2rem;
  }
  #orange {
    border-radius: 1rem 1rem 0 0;
  }

  #very-dark {
    border-radius: 0 0 1rem 1rem;
  }
  .classCar p {
    margin-bottom: 2.6rem;
  }
}
